<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{ product.img}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{ product.name }}</h4>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text text-right text-muted">{{ product.price | currency:'BRL':true }}</p>
    <div class="card-footer bg-transparent text-right" style="padding-right: 0; padding-bottom: 0;">
      <button type="button" class="btn btn-outline-primary">
        <i class="fa fa-shopping-cart"></i> Add to cart
      </button>
    </div>
  </div>
</div>
